version: "3.9"

services:
  db:
    image: postgres:16
    container_name: AccessHub_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: accesshub_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: accesshub_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: super@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin_super
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db

volumes:
  pgdata:
  pgadmin_data:
